### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

.vscode

.idea
.env
*.out

# junobench
target_nbs

**/crash_detection_gpt5_code/
**/crash_detection_gpt5_runinfo/
**/crash_detection_gemini_code/
**/crash_detection_gemini_runinfo/
**/crash_detection_qwen_code/
**/crash_detection_qwen_runinfo/